main {
  max-width: clamp(310px, 100%, 1100px);
  justify-self: center;
}
h3 {
  margin-bottom: 16px;
}

#appControls {
  display: flex;
  column-gap: 32px;
  row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 5px;

  #appButtons {
    display: flex;
    gap: 8px;
  }

  .select {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .dropdown {
    font-weight: bold;
    border-radius: 5px;
    padding: 4px;
  }

  #speedSlider {
    display: flex;
    align-items: center;
    gap: 12px;

    input[type="range"] {
      appearance: none;
      background: var(--accent-gradient);
      accent-color: white;
      height: 8px;
      border-radius: 8px;
    }
  }
}

#gridArea {
  max-width: 100%;
  background: var(--bg);
  height: 550px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 5px;
  overflow: hidden;
}

/* SECTION game-information */
#about {
  margin-left: 5px;
  margin-right: 5px;
  padding: min(15px, 4vw);
  background: var(--bg);
  border-radius: 5px;
  max-width: clamp(310px, 100%, 1100px);
  justify-self: center;

  ul, ol {
    margin-left: 20px;
  }
  ol {
    margin-top: 16px;
  }
  li {
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 32px;
  }
}
